<h4 class="center-align section titulo">{{strategy?.title}}</h4>
<div class="container section row container-form">
  <form class="col s12" [formGroup]="articleForm" (ngSubmit)="sendArticle(articleForm, idArticle)">
    <div class="row">
      <div class="input-field col s6 validate">
        <input class="validate" id="description" type="text" formControlName="description">
        <label [class.active]="this.articleForm.controls['description'].value !== ''" for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3 validate">
        <input id="price" type="text" formControlName="price">
        <label [class.active]="this.articleForm.controls['price'].value !== ''" for="price">Sale price ($)</label>
      </div>
      <div class="input-field col s3" *ngIf="isEdit()">
        <input id="stock" type="text" formControlName="stock">
        <label [class.active]="this.articleForm.controls['stock'].value !== ''" for="stock">Stock</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="picture" type="text" [class.validate]="true" formControlName="picture">
        <label [class.active]="this.articleForm.controls['picture'].value !== ''" for="picture">Picture</label>
      </div>
    </div>
    <div class="row" *ngIf="!articleForm.valid">
      <p class="wrong"> Please fill description and price fields</p>
    </div>
    <button class="btn waves-effect waves-light" type="submit" [disabled]="!articleForm.valid">
      Save
      <i class="material-icons right">save</i>
    </button>
    <button class="btn waves-effect waves-light red cancel-button" type="button" (click)="cancel()">Cancel </button>
  </form>
</div>