<div class="container">
    <h4 class="center-align titulo" style="margin-top: 10px">ARTICLES</h4>
    <div class="row">
      <div class="input-field col m4 push-m8 allign-head" matTooltip="Insert a description here">
        <input id="search" type="text" name="filterString" [(ngModel)]="filterString">
        <label for="search">Search for description...</label>
      </div>
    </div>
    <table class="highlight">
        <thead>
          <tr>
              <th>Article ID</th>
              <th>Description</th>
              <th>Price</th>
              <th>Stock</th>
          </tr>
        </thead>

        <tbody class="pointer" *ngIf="articles">
          <tr *ngFor="let article of articles | filter: filterString" (dblclick)="selectionArticle(article)">
            <td>{{ article.id_articulo }}</td>
            <td>{{ article.descripcion }}</td>
            <td>{{ article.precio }}</td>
            <td>{{ article.stock }}</td>
          </tr>
        </tbody>
      </table>

      <div class="move-top-2r">
        <button class="btn waves-effect waves-light red" style="margin-left: 5px;" [mat-dialog-close]> Cancel</button>
      </div>
</div>
