<div class="container">
    <h4 class="center-align titulo" >SALES</h4>
    <a class="btn-floating btn-medium waves-effect waves-light red move-top-10" routerLink="/sales/newSale" routerLinkActive="active">
      <i class="material-icons">add</i>
    </a>
    <table class="striped">
          <thead>
            <tr>
                <th>Sale Date</th>
                <th>Customer</th>
                <th>Action</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let sale of sales">
              <td>{{ sale.fecha_hora_venta | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
              <td>{{ sale.cliente.nombre }}, {{ sale.cliente.apellido }}</td>
              <td>
                <a (click)="dataSale(sale)"><i class="material-icons pointer">assignment</i></a>
                <a (click)="deleteSale(sale.id_venta)"><i class="material-icons pointer-red">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>