<div class="container">
  <h4 class="center-align titulo">SUPPLIERS</h4>
  <table>
    <td>
      <a class="btn-floating btn-medium waves-effect waves-light red move-top-10" routerLink="/suppliers/addSupplier" routerLinkActive="active">
        <i class="material-icons">add</i>
      </a>
    </td>
    <td>
      <div class="input-field col m4 push-m8 allign-head" matTooltip="Insert a description here">
        <input id="search" type="text" name="filterString" [(ngModel)]="filterString" (keyup)="verifySearch()" (keyup.enter)="getSuppliersByParam(filterString)">
        <label for="search">Search for description...</label>
      </div>
    </td>
    <td class="td-no-padding">
      <a (click)="getSuppliersByParam(filterString)" class="centering-content pointer">
        <i class="material-icons centering-content">search</i>
      </a>
    </td>
  </table>
  <table class="striped">
        <thead>
          <tr>
              <th>Cuit</th>
              <th>Business Name</th>
              <th>City</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Action</th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td>{{ supplier.cuit }}</td>
            <td>{{ supplier.businessName }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.address }}</td>
            <td>{{ supplier.telephoneNumber }}</td>
            <td>
              <a [routerLink]="['/suppliers/edit-supplier', supplier.supplierID]"><i class="material-icons">edit</i></a>
              <a (click)="deleteSupplier(supplier.supplierID)"><i class="material-icons pointer-red">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
