<div class="row section container">
    <h4 class="center-align titulo" >SALE N° {{ sale.id_venta.toString().padStart(5, '0') }}</h4>
    <form class="col s12" autocomplete="off">
        <div class="row">
            <div class="input-field col s2">
                <input id="customerID" disabled type="text" class="validate" name="customerID" [(ngModel)]="sale.cliente.id_cliente">
                <label class="active" for="customerID">Customer</label>
            </div>
            <div class="input-field col s5">
                <input type="text" disabled class="validate" name="customerName" [(ngModel)]="sale.cliente.nombre + ' ' + sale.cliente.apellido">
            </div>
        </div>
        <table id="max" class="responsive-table">
            <thead>
              <tr>
                  <th>Article ID</th>
                  <th>Description</th>
                  <th>Price Per Unity</th>
                  <th>Quantity</th>
                  <th>Sub Total</th>
              </tr>
            </thead>
    
            <tbody *ngIf="sale.detalle_ventas.length > 0">
             <tr *ngFor="let article of sale.detalle_ventas">
                <td>{{ article.articulo.id_articulo }}</td>
                <td>{{ article.articulo.descripcion }}</td>
                <td>{{ article.articulo.precio }}</td>
                <td>{{ article.cantidad }}</td>
                <td>{{ article.articulo.precio * article.cantidad }}</td> 
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total</th>
                <th>${{sale.total}}</th>
              </tr>
            </tbody>
          </table>
        
          <div class="move-top-2r">
            <button class="btn waves-effect waves-light" mat-dialog-close> Close </button>
          </div>
    </form>
</div>