html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.block {
    display: block;
}

img {
    width: 100px
}

.bold {
    font-weight: bold;
}
