<header>{{ article.descripcion }}</header>
<body>
  <section>
  <aside>
    <img [src]="article.imagen" [alt]="article.descripcion">
  </aside>
  <article>
    <div class="article-data">
      <p class="etiqueta">Precio: <span class="contenido">{{ article.precio | currency: '$' }}</span></p>
      <p class="etiqueta">En stock: {{ article.stock }} unidades</p>
    </div>
    <div class="buttons">
      <a style="cursor: pointer" [routerLink]="['/articles/articleData', article.id_articulo]">
        <i class="material-icons">assignment</i>
      </a>
      <a style="cursor: pointer" [routerLink]="['/articles/addArticle', article.id_articulo]">
        <i class="material-icons">edit</i>
      </a>
      <a style="cursor: pointer; color: red" (click)="deleteArticle(article.id_articulo)">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </article>
  </section>
</body>
        