<header>{{ article.descripcion }}</header>
<div>
  <section>
  <aside>
    <img *ngIf="article.imagen" [src]="article.imagen" [alt]="article.descripcion">
    <img *ngIf="!article.imagen" src="../../../../assets/default image.jpg" [alt]="article.descripcion">
  </aside>
  <article>
    <div class="article-data">
      <p class="etiqueta">Price: <span class="contenido">{{ article.precio | currency: '$' }}</span></p>
      <p class="etiqueta">Stock: {{ article.stock }} unidades</p>
    </div>
    <div class="buttons pointer">
      <a  (click)="navigate(['/articles/articleData', article.id_articulo])">
        <i class="material-icons">assignment</i>
      </a>
      <a  (click)="navigate(['/articles/addArticle', article.id_articulo])">
        <i class="material-icons">edit</i>
      </a>
      <a class="pointer-red" (click)="deleteArticle(article.id_articulo)">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </article>
  </section>
</div>
        