.color-red {
    color: red;
}

.pointer {
    cursor: pointer !important;
}

#max {
    height: 2px !important;
}

.move-top-10 {
    margin-top: 10px;
}

.move-top-2r {
    margin-top: 2rem;
}

.size-image-edit{
    height: 20rem;
    width: 20rem;
}

.allign-head {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.active {
    font-weight: bold;
}

.planilla {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.titulo {
    text-decoration: underline;
    font-weight: bold !important;
    font-size: 2rem !important;
    padding-top: 1rem;
    margin-top: 10px;
}

.etiqueta {
    padding-left: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.contenido {
    font-size: 1.1em;
    font-weight: 600;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.wrong {
    color: tomato;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.pointer-red {
    cursor: pointer;
    color: red;
}

.cancel-button {
    margin-left: 5px;
}

.centering-content {
    margin-top: 25px;
}

.td-no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}